.container{
    border: 2px solid black;
    padding: 40px;
    display: grid;
    gap: 20px;
    column-gap: 10px;
    grid-template-columns: repeat(4,1fr);
}
.box{
    padding: 30px;
    border: 2px solid red;
}
#box-1{
    grid-row: 1/9;
}
#box-2{
    grid-column: 2/3;
}



